div.dokuwiki .searchbox {
    position: relative;
    font-size:110%;
    width:98%;
}
div.dokuwiki .searchbox .search {
    position: relative;
    height:32px;
    background:__background_alt__;
    padding:7px 8px;
    margin:0 auto .5em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    clear: both;
    min-width: 430px;
}
div.dokuwiki .searchbox .result {
    width: auto;
    background: white !important;
    font-size:90%;
}
div.dokuwiki .searchbox .updating {
    color: #A0A0A0;
    border: 0px solid #D7D5D4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
div.dokuwiki .searchbox .updating p {
    margin-left: 2em;
}
div.dokuwiki .searchbox .result .search_snippet {
    font-size: 80%;
    padding-left: 20px;
}
div.dokuwiki .searchbox .query {
    height:24px;
    font-size: 95%;
    width: 20em;
	padding:2px 5px;
    float: left;
}
div.dokuwiki .searchbox .button {
    margin:0 3px 0 8px;
    float:left;
}
div.dokuwiki .searchbox .indexing,
div.dokuwiki .searchbox .search a.clear {
    top: -20px;
    position: absolute;
}
div.dokuwiki .searchbox .search a.clear {
    left: 10px;
}
div.dokuwiki .searchbox .indexing {
    right: 10px;
}
div.dokuwiki .searchbox .indexing a {
    float: right;
    margin-left: 1.2em;
}
div.dokuwiki .searchbox .search a {
    font-size: 75%;
    background: none;
    border: 0;
    color: #ABADB3;
}
div.dokuwiki .searchbox .search a:hover {
    cursor: pointer;
    color: black;
}
