div.dokuwiki .searchbox {
    position: relative;
    font-size:100%;
    width:98%;
}
div.dokuwiki .searchbox .search {
    position: relative;
    height:26px;
    background:__background_alt__;
    padding:6px 7px;
    margin:0 auto 1.5em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    clear: both;
}
div.dokuwiki .searchbox .result {
    width: auto;
    background: white !important;
    font-size:90%;
}
div.dokuwiki .searchbox .msg{
    color: #A0A0A0;
    border: 0px solid #D7D5D4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
div.dokuwiki .searchbox .msg p {
    margin-left: 2em;
}
div.dokuwiki .searchbox .result .search_snippet {
    font-size: 80%;
    padding-left: 20px;
}
div.dokuwiki .searchbox .query {
    font-size: 95%;
    max-width: 20em;
	padding:2px 5px;
    float: left;
}
div.dokuwiki .searchbox .button {
    margin:0 0 0 8px;
    float:left;
}
div.dokuwiki .searchbox .reindex,
div.dokuwiki .searchbox .search a.clear {
    bottom: -16px;
    position: absolute;
}
div.dokuwiki .searchbox .search a.clear {
    left: 10px;
}
div.dokuwiki .searchbox .reindex{
    background-image: none;
    border-width: 0;
    padding: 0;
    right: 10px;
}
div.dokuwiki .searchbox .reindex a {
    float: right;
    margin-left: 1.2em;
}
div.dokuwiki .searchbox .search a {
    font-size: 75%;
    background: none;
    border: 0;
    color: #ABADB3;
}
div.dokuwiki .searchbox .search a:hover {
    cursor: pointer;
    color: black;
}
div.dokuwiki .searchbox .updating {
    background-image: url('../../images/throbber.gif');
    background-repeat: no-repeat;
    background-position: 5px 4px;
    border-width: 1px;
    padding: 3px;
}
